beautifulsoup4==4.12.3
numpy==1.26.4
openai==1.54.4
pandas==2.2.3
python-dotenv==1.0.1
qdrant-client==1.12.1
rank-bm25==0.2.2
requests==2.32.3
sentence-transformers==3.2.1
streamlit==1.39.0
tenacity==9.0.0
pytest==8.3.3
